.token-container{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-token{
    display: inline;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}