.token-container{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-token{
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
@media screen and (max-width : 1600px){
  .inner-token{
    height: 1.5rem;
    width: 1.5rem;
}
}   
@media screen and (max-width : 1300px){
  .inner-token{
    height: 1.3rem;
    width: 1.3rem;
}
}
@media screen and (max-width : 1100px){
  .inner-token{
    height: 1rem;
    width: 1rem;
}
}
@media screen and (max-width : 900px){
  .inner-token{
    height: 0.7rem;
    width: 0.7rem;
}
}
@media screen and (max-width : 700px){
  .inner-token{
    height: 0.5rem;
    width: 0.5rem;
}
}
@media screen and (max-width : 500px){
  .inner-token{
    height: 0.3rem;
    width: 0.3rem;
}
}